img.profile {
    cursor: pointer;
    padding: 6px;
}

span.reply,
span.edit,
span.delete {
    cursor: pointer;

}

.card {
    border: 0;
}

.cardform {
    box-shadow: 0 4px 8px 0 rgba(61, 61, 61, 0.034), 0 6px 20px 0 rgba(206, 201, 201, 0.19);
}

.wordReply {
    font-family: 'Source Sans Pro', sans-serif;
}

span.reply:hover,

.wordReply:hover {
    cursor: pointer;
    font-weight: bold;
    color: rgb(11, 139, 11)
}

span.edit:hover,
span.delete:hover {
    cursor: pointer;
    font-weight: bold;
    color: rgb(161, 23, 23)
}

.navbar-brand {
    color: rgb(59, 57, 57)
}

.navbar-brand:hover {
    color: rgb(26, 122, 7)
}

div.commentbox {
    box-shadow: 0 4px 8px 0 rgba(61, 61, 61, 0.096), 0 6px 20px 0 rgba(206, 201, 201, 0.19);
    background: white;
    border-radius: 5px;
}

.replyBox {
    padding-left: 10px;
}

div.form {
    background: white;
}


div.reply {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(189, 186, 186, 0.19); */
    animation: slide-up 0.4s ease;

}

.hidden {
    visibility: hidden;
}